* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#header {
  border-bottom: 2px solid black;
  background-color: lightseagreen;
  padding: 15px 0 15px 0;
}

#header h1 {
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.links {
  font-weight: bold;
  text-decoration: none !important;
  margin: 10px 0 10px 0;
  padding: 10px 25px 10px 25px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.links:hover {
  background: gray;
}

.links:visited {
  color: white;
}

#data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#total {
  flex-basis: 100%;
}

.data-container {
  margin: 30px;
}

#patient-container {
  border-top: 1px solid black;
}

.patients {
  border: 2px solid black;
  max-width: 600px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  text-align: left;
}

.patients h3 {
  margin-bottom: 5px;
  text-align: center;
}

label {
  margin-right: 10px;
  margin-bottom: 10px;
}

#individual-cases-title {
  margin: 15px 0;
}

.radio-label {
  display: inline;
  font-weight: bold;
}

input[type=radio] {
  margin-bottom: 10px;
}