* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#header {
  border-bottom: 2px solid black;
  background-color: lightseagreen;
  padding: 15px 0 15px 0;
}

#header h1 {
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.links {
  font-weight: bold;
  text-decoration: none !important;
  margin: 10px 0 10px 0;
  padding: 10px 25px 10px 25px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.links:hover {
  background: gray;
}

.links:visited {
  color: white;
}

#data {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

#local-data {
  display: flex;
  height: 100%;
}

.data-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.data-container:hover {
  background-color: white;
  
}

.data-container p {
  font-weight: bold;
}

#ph-summary {
  margin-right: 20px;
  padding: 20px;
  border-right: 2px solid black;
  background-color: rgb(197, 197, 197);
}

#ph-summary p {
  margin-bottom: 20px;
}

#patient-container {
  flex: 1;
  overflow: auto;
  height: 125vh;
}

.patients {
  border: 2px solid black;
  max-width: 80%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  text-align: left;

}

.patients h3 {
  margin-bottom: 5px;
  text-align: center;
}

label {
  margin-right: 10px;
  margin-bottom: 10px;
}

#individual-cases-title {
  margin: 15px 0;
}

.radio-label {
  display: inline;
  font-weight: bold;
}

input[type=radio] {
  margin-bottom: 10px;
}

#global-data {
  min-height: 120vh;
}

#global-data h2 {
  font-size: 40px;
}

#global-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

#global-stats-container h2 {
  flex-basis: 100%;
  margin: 20px 0;
}

.global-stats {
  border: 2px solid black;
  padding: 50px;
  width: 25%;
  font-size: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.global-icon {
  margin-bottom: 30px;
  color: red;
}

#country-data {
 color: white;
}

#stats-country-title {
  margin: 20px 0;
}

#total {
  color: blue;
}

#active {
  color: orange;
}

#critical {
  color: red;
}

#recovered {
  color: green;
}

#deaths {
  color: black;

}


@media only screen and (max-width: 900px) {
  .patients {
    max-width: 90%;
  }

  #header {
    padding: 20px 20px 0 20px;
  }

  .global-stats {
    flex-basis: 100%;
    padding: 15px;
    font-size: 15px;
    max-width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .global-stats {
    max-width: 80%;
  }

  #local-data {
    display: block;
  }

  #ph-summary {
    margin: 0;
    border: none;
  }

  #patient-container {
    overflow: visible;
  }
}